@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: #fafafa;
}

::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb{
    background: #f44335;
}

.height{
    height: 50vh;
}

.position-md-absolute{
    position: absolute;
}

.divider img{
    height: 3675px;
    margin-top: -100px;
}

.decoration{
    margin-top: -180px;
    margin-right: 250px;

}

@media (width < 1850px) {
    .divider img{
        display: none;
    }
    .end{
        margin-top: 5900px;
    }
}
